html {
  min-height: 100% !important;
}

body,
#root {
  height: 100% !important;
  min-height: 100% !important;
}

* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: var(--font-markazi);
  font-size: 64pt;
  font-weight: 500;
}

.subtitle {
  font-family: var(--font-markazi);
  font-size: 40pt;
  font-weight: 400;
}

.body-text {
  font-family: var(--font-karla);
  font-weight: 500;
  font-size: 18pt;
}

.section-title {
  font-family: var(--font-karla);
  font-size: 20pt;
  font-weight: bolder;
  text-transform: uppercase;
}

.card-title {
  font-family: var(--font-karla);
  font-size: 18pt;
  font-weight: bold;
}

.paragraph {
  font-family: var(--font-karla);
  font-size: 16pt;
  font-weight: 400;
}

.higthlight {
  font-family: var(--font-karla);
  font-size: 16pt;
  font-weight: 500;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: var(--secondary-dark);
}

select:focus {
  outline: none; 
}

:is(input, textarea, select):invalid {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

/* ESTILOS COMPONENTES */

button {
  border-radius: 16px;
  height: 50px;
  width: max-content;
  outline: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  &.primary {
    background-color: var(--primary-yellow);
    color: var(--primary-green);
    font-size: 16pt;
    font-weight: bold;
    &:hover {
      opacity: 70%;
      box-shadow: 3px 3px 6px #000000;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
input[type="submit"] {
  border-radius: 16px;
  width: 300px;
  height: 50px;
  outline: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--primary-yellow);
  color: var(--primary-green);
  &:hover:not(:disabled) {
    opacity: 70%;
    box-shadow: 3px 3px 6px #000000;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    background-color: #C6C6C6;
    cursor: default;
  }
}

select {
  padding: 5px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-grey);
  color: var(--primary-green);
  font-size: 14px;
  font-weight: 700;
  option {
    border: none;
    background-color: var(--secondary-grey);
    color: var(--primary-green);
    font-size: 14px;
    font-weight: 700;
    &:disabled {
      color: #C6C6C6;
    }
  }
}

input {
  padding: 5px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-grey);
  color: var(--primary-green);
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 750px) {
  .title {
    font-size: 40pt;
  }
}