#booking-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  div.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    &.button {
      justify-content: center;
    }
    label {
      flex: 2;
    }
  }
}