header {
  padding: 0 1%;
  height: 80px;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .wrapper-logo {
      justify-self: flex-start;
      #logo {
        content:url('assets/images/Logo.svg');
      }
    }
    
    .wrapper-menu {
      justify-self: flex-end;
      #icon_menu {
        display: none;    
        content:url('assets/images/icon_hamburger_menu.svg');
      }

      nav {
        ul {
          justify-content: space-around;
          a {
            font-weight: 700;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  header {
    .container {
      .wrapper-menu {
        #icon_menu {
          display: flex;
          justify-self: flex-end;
          align-self: center;
        }
        nav {
          display: none;
        }
      }
    }
  }
}