header {
  padding: 0 1%;
  height: 80px;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .wrapper-logo {
      justify-self: flex-start;
      #logo {
        content: url('assets/images/Logo.svg');
      }
    }
    
    .wrapper-menu {
      justify-self: flex-end;
      nav.nav-desktop {
        ul {
          justify-content: space-around;
        }
      }
      nav#nav-mobile {
        display: none;
      }
    }
  }
}

@media (max-width: 750px) {
  header {
    .container{
      .wrapper-menu {
        nav.nav-desktop {
          display: none;
        }
        nav#nav-mobile {
          display: flex;
          justify-self: flex-end;
          align-self: center;
        }
      }
    }
  }
}