nav {
  text-align: center;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    display: flex;
    a {
      font-weight: 700;
      font-size: 16px;
    }
    li {
      padding: 10px;
      font-size: 10pt;
    }
  }
}